body {
    font-family: 'Roboto Mono',monospace;
    text-align:center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQl8xC1W7oSX43JvtG4xcQ5P1AOABfioz2c7Q&usqp=CAU');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    text-shadow: 3px 4px 5px #2C041C;
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    text-shadow: 3px 4px 5px #2C041C;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }
  
  #listaFilmes img {
    margin: 10px;
    width: 250px;
    height: 350px;
  }
  
  .form-wrapper {
    margin: 0 0 15px;
  }
  
  .form-wrapper input {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
  }
  
  .form-wrapper button {
    border: 3;
    border-color: #311432;
    color: #ffffff;
    background: #2C041C;
    font-style: monospace;
    font-weight:bold;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
  }
  
  .form-wrapper button:hover {
    opacity:.8;
  }

  h2{
    font-size: 14px;
    text-shadow: 3px 4px 5px #2C041C;
    color: #ffffff;
    text-align: center;
    
    }